:root {
    --purple: #8c5def;
}

@font-face {
    font-family: "Terminus";
    src: url("font/TerminusTTF-Bold.ttf");
}

body {
    color: var(--purple);
    background-color: black;
    font-family: "Terminus";
    font-size: 1.2vw;
}

#background {
    height: 100%;
}

#background img {
    position: absolute;
    left: 13vw;
    top: 0px;
    max-width: 100%;
    max-height: 100vh;
    z-index: -1;
}

#icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 80vh;
}

.border {
    width: 5.5vw;
    height: 4.5vw;
    display: grid;
    margin: auto;
    text-align: center;
}

.border :hover {
    cursor: pointer;
    border: 0.2vw solid var(--purple);
}

.border div :hover{
    border: none;
}

.border div img {
    width: 4.5vw;
    height: 4.5vw;
    margin: 0 auto;
}

#documents {
    grid-column: 1/2;
    grid-row: 1/2;
}

#oneshot {
    grid-column: 1/2;
    grid-row: 2/3;
}

#custom {
    grid-column: 1/2;
    grid-row: 3/4;
}

#wallpaper {
    grid-column: 1/2;
    grid-row: 4/5;
}

#controls {
    grid-column: 2/3;
    grid-row: 1/2;
}

#power {
    grid-column: 2/3;
    grid-row: 2/3;
}

#themes {
    grid-column: 2/3;
    grid-row: 3/4;
}

#help {
    grid-column: 2/3;
    grid-row: 4/5;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    margin-bottom: 0px;
    background-color: black;
    border-top: 0.4vw solid var(--purple);
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}

#time {
    display: grid;
    grid-column: 2/3;
    position: relative;
    left: 8vw;
    padding-top: 0.5vw;
    margin: 0;
}

footer img {
    display: grid;
    grid-column: 3/4;
    position: relative;
    left: 6vw;
    margin-top: 0.35vw;
    margin-bottom: 0.35vw;
    width: 1.8vw;
    height: 1.8vw;
}
